@import "../../../shared/theme/variables.scss";

.edit-profile-page {
  min-height: calc(100vh - 70px);
  padding: 80px 10px 50px 10px;

  .button-primary {
    display: block;
    width: 80%;
    max-width: 250px;
    margin: 0 auto;

    i {
      font-size: 18px;
      margin-right: 5px;
    }
  }

  .grid-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "left"
      "right";
    column-gap: 50px;
    row-gap: 30px;
    padding: 40px 15px;

    @media screen and (min-width: 700px) {
      grid-template-columns: auto 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "left right";
    }

    .left {
      grid-area: left;

      img {
        display: block;
        width: 90%;
        max-width: 200px;
        margin: 0 auto 20px auto;
      }
    }

    .right {
      grid-area: right;

      .profile-section {
        background-color: $off_white;

        h3 {
          background-color: $secondary;
          color: $white;
          text-align: center;
          font-size: 16px;
          letter-spacing: 1px;
          font-weight: 600;
          padding: 10px;
        }

        .info-wrapper {
          padding: 20px 15px 15px 15px;

          .info {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            column-gap: 10px;
            padding-bottom: 15px;

            @media screen and (min-width: 450px) {
              grid-template-columns: 1fr 1fr;
              grid-template-rows: 1fr;
            }

            label {
              color: $black;
              font-weight: 600;
            }

            input {
              height: 25px;
              color: $accent-2;
              letter-spacing: 1px;
              border: 1px solid $light_gray;
              outline: none;
              padding: 2px 5px;

              &:focus {
                border: 1px solid $dark_gray;
              }
            }

            .radio-button {
              display: flex;
              align-items: center;

              p {
                margin-left: 5px;
                margin-right: 10px;
              }
            }

            .warning {
              color: $accent-1;
              font-size: 13px;
              margin: 8px 0 15px 0;
            }

            .no-edit {
              border: none;

              &:focus {
                border: none;
              }
            }
          }
        }
      }

      .save-button {
        margin: 30px auto 25px auto;
      }
    }
  }
}
